{% extends 'base.html.twig' %}

{% block body %}

<p><a href="#" class="text-info">The original title of this movie is {{script.original_title}}</a></p>
<p><a href="#" class="text-primary">{{script.budget}} Dollars, is the budget that this movie needed</a></p>
<p><a href="{{script.homepage}}" class="text-danger">{{script.homepage}}</a></p>
<p><a href="#" class="text-dark">This movie was release the {{script.release_date}}</a></p>
<p><a href="#" class="text-muted">{{script.revenue}} dollars is the amount that movie earned</a></p>
<p><a href="#" class="text-white bg-dark">This movie is already {{script.status}}</a></p>

{% endblock %}